.sidebar.open {
  transform: translateX(0);
}

.sidebar {
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.sidebarWrapper {
  position: relative;
}

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  /* background-color: #f1f1f1; */
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

@media (max-width: 767px) {
  .sidebar {
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
  }
}
